etc/*
.spyproject/*
.streamlit/*
wandb/*
notebooks/wandb/*
scripts/artifacts/*
notebooks/artifacts/*
artifacts/*
**.pyc
app/firebase-py/functions/venv/*
app/firebase/functions/lib/*
app/firebase/functions/node_modules/*
app/firebase/node_modules/*
app/webapp/node_modules/*
app/firebase/functions/src/config/env.ts
.env

*.log
